* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

#Header-container {
  display: flex;
  justify-content: space-evenly;
}
#Header-container h1 {
  background-color: aqua;
  border: 1px solid #0AC;
  border-radius: 10px 70px;
  padding: 1rem 10rem;
  box-shadow: aqua 0rem 0rem 1rem;
  margin-bottom: -1rem;
}

#pokemon-section {
  color: white;
  height: 70vh;
  display: flex;
  justify-content: center;
}
#pokemon-section #type-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
#pokemon-section #type-container h2 {
  border: 1px solid #0AC;
  padding: 0.5rem 3rem;
  border-radius: 30px 10px 30px 10px;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
}
#pokemon-section #type-container #pokemon-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pokemon-section #type-container #pokemon-type ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  background: aqua;
  border: 1px solid #0AC;
  padding: 0.2rem 1rem;
  border-radius: 30px;
  box-shadow: aqua 0rem 0rem 0.5rem;
  margin: 0.5rem;
  list-style: none;
}
#pokemon-section #type-container #previous-evo-container {
  border: 1px solid #0AC;
  padding: 2rem;
  border-radius: 10px 50px 30px;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
  display: flex;
  align-items: center;
}
#pokemon-section #type-container #previous-evo-container #preFormPoke {
  color: #0AC;
}
#pokemon-section #pokemon-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
#pokemon-section #pokemon-img-container #pokemon-id {
  margin-bottom: -3rem;
  color: aqua;
}
#pokemon-section #pokemon-img-container #pokemon-name {
  padding: 1rem 5rem;
  text-shadow: aqua 0rem 0rem 1rem;
  color: aqua;
  text-decoration: underline #0AC 4px;
  font-size: 3rem;
  margin-bottom: 3.5rem;
}
#pokemon-section #pokemon-img-container #pokemon-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pokemon-section #pokemon-img-container #pokemon-display #pokemon-image-bg {
  width: 35rem;
  position: absolute;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#pokemon-section #pokemon-img-container #pokemon-display #pokemon-image {
  position: relative;
  width: 18rem;
}
#pokemon-section #pokemon-info-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
#pokemon-section #pokemon-info-container h2 {
  border: 1px solid #0AC;
  padding: 0.5rem 3rem;
  border-radius: 30px 10px 30px 10px;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
}
#pokemon-section #pokemon-info-container ul .abilityLi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  background: aqua;
  border: 1px solid #0AC;
  padding: 0.2rem 1rem;
  border-radius: 30px;
  box-shadow: aqua 0rem 0rem 0.5rem;
  margin: 0.5rem;
  list-style: none;
}
#pokemon-section #pokemon-info-container #moves-container {
  border: 1px solid #0AC;
  padding: 2rem;
  border-radius: 10px 50px 30px;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
  display: flex;
  align-items: center;
}
#pokemon-section #pokemon-info-container #moves-container h3 {
  font-size: 1.5rem;
}
#pokemon-section #pokemon-info-container #evo-chain-div {
  height: 5rem;
}
#pokemon-section #pokemon-info-container #evo-chain-div ul#evo-chain {
  display: flex;
}
#pokemon-section #pokemon-info-container #evo-chain-div ul#evo-chain li {
  list-style: none;
}
#pokemon-section #pokemon-info-container #evo-chain-div ul#evo-chain li img {
  width: 4rem;
}

#search-container {
  margin: 6rem;
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-container #search {
  padding: 0.5rem 5rem;
  border-radius: 10px 50px 10px 50px;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
}
#search-container #run {
  color: white;
  border-radius: 10px 50px 10px 50px;
  padding: 0.5rem 5rem;
  background: transparent;
  box-shadow: aqua 0rem 0rem 0.5rem, aqua 0rem 0rem 1rem inset;
}

#evo-chain {
  font-size: 1.2rem;
  color: aqua;
  margin: 0.5rem;
  border: 1px solid #0AC;
  border-radius: 20px;
  width: 60%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#evo-chain img {
  margin: -0.5rem;
}
#evo-chain p {
  margin: 0.1rem;
}

/*# sourceMappingURL=style.css.map */
